@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #faf0f0;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 480px;
  background-color: #fff;
  padding: 18px 15px;
  border-radius: 6px;
  .section-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    color: #ff1f5ff3;
  }
  .content {
    text-align: center;
    font-size: 21px;
    color: #ff1f5ff3;
    margin-bottom: 12px;
  }
  .programing-language {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    button {
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      font-size: 15px;
      cursor: pointer;
    }
  }
  .submit-center {
    text-align: center;
    .submit {
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      color: #fff;
      background-color: #ff1f5ff3;
      margin-bottom: 20px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #db0542f3;
      }
    }
  }
  .ranges {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    .lang {
      color: #ff1f5ff3;
      font-size: 17px;
      font-weight: 500;
    }
    .range {
      width: 100%;
    }
    .percentage {
      font-weight: 500;
      color: #ff1f5ff3;
    }
  }
}
