*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(0.25turn, #0b2ffc, #ff751f); }
  body .paragraph {
    background-color: #fff;
    width: 60%;
    padding: 24px 18px;
    border-radius: 8px;
    margin-top: 10px; }
    body .paragraph__title {
      font-size: 18px;
      margin-bottom: 15px;
      text-decoration: underline; }
    body .paragraph input {
      display: block;
      border: 1.4px solid #fa6203;
      width: 12%;
      padding: 4px 8px;
      border-radius: 3px;
      margin-bottom: 15px; }
      body .paragraph input:focus {
        outline: none; }
      @media only screen and (max-width: 800px) {
        body .paragraph input {
          width: 20%; } }
    body .paragraph button {
      border: none;
      color: #fff;
      display: block;
      background-color: #fa6203;
      cursor: pointer;
      padding: 6px 12px;
      border-radius: 4px; }
    body .paragraph .row p {
      margin-bottom: 10px; }
