@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 30px 45px;
  .section-title {
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;
    font-size: 24px;
  }
  .color-body-wrapper {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .color-body {
    width: 120px;
    height: 120px;
    border: 1.5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #08aac6;
    cursor: pointer;
    p {
      color: #fff;
      font-size: 17px;
      margin-bottom: 10px;
    }
    button {
      color: #000;
      border: 1.2px solid #ff0048;
      background-color: #e85ac5;
      border-radius: 2px;
      padding: 4px 8px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #ff00bf;
        border: 1.2px solid #ff00bf;
      }
    }
  }
}
