@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0.25turn, #dcf1f5, #e8a4a9); }
  body img {
    width: 50px; }

.container {
  padding: 25px 20px;
  background-color: #000;
  width: 500px; }
