@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0.25turn, #dcf1f5, #e8a4a9); }

.container {
  padding: 25px 20px;
  background-color: #000;
  width: 530px; }
  .container .section-title {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px; }
  .container .calculator-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 8px; }
    .container .calculator-main .height-34 {
      height: 34px; }
    .container .calculator-main img {
      width: 80px; }
    .container .calculator-main input {
      width: 55%;
      padding: 7px 4px; }
    .container .calculator-main .value {
      padding-left: 12px;
      color: #fff; }
