*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #ff579a;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
  transition: transform 0.1s ease; }
  body h2 {
    font-size: 25px;
    color: #000; }
