*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #420173; }

.text-container {
  text-align: center; }
  .text-container #animatedText {
    color: #ff82e0;
    font-size: 45px;
    transition: opacity 2s ease-in-out; }

#animatedText {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  animation: moveInRight 1s ease-out; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(40px, 40px); }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: translate(0); } }

h1 span {
  opacity: 0;
  display: inline-block; }

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0); } }
